body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f7f9fc;
  padding-top: 100px;
}

h1 {
  font-size: 56px;
  color: #111827;
  margin-bottom: 20px;
}

p {
  font-size: 22px;
  color: #4b5563;
  max-width: 600px;
  margin: auto;
}

input {
  margin-top: 40px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  border: 1px solid #ddd;
}